
:root{
   --textcolor--: sandybrown;
   --secondarycolor--: rgba(56, 121, 145, 0.9);
   --lettercolor--: #fff;
   --contentBG--: #65675C;
   --btncolor--: royalblue;
}

@keyframes hero-sec {
  0%{
     transform: scaleX(0);
     opacity: 0;
  }
  100%{
     transform: scaleX(1);
     opacity: 1;
  }
}

/* my slider  */


.carousel_menu{
   display: flex;
   justify-content: space-between;
   height: 100%;
   width: 100%;
   padding: 1rem 1vw;
   margin-top: 1rem;
   animation: hero-sec 1s cubic-bezier(0.250, 0.450, 0.455, 0.950)both;

}
.my_carousel{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  height: 100%;
}
.my_carousel .carousel{
   width: 700px;

}
.my_carousel .carousel-inner{
   border-radius: 10px;
}
/* .carousel-inner h5{
  color: var(--textcolor--);
} */

.my_carousel .carousel-control-prev,
.my_carousel .carousel-control-next{
   background-color: var(--secondarycolor--);
   border-radius: 50%;
   width: 50px;
   height: 50px;
}
.my_carousel .carousel-control-prev{
   top: 88%;
   left: 10px;
}
.my_carousel .carousel-control-next{
   top: 88%;
   right: 84%;
}

.carousel_content{
   text-align: center;
   margin-top: 2rem;
   padding: 0 1rem;
   width: 40%;
}
.carousel_content h1{
   font-size: 3.5rem;
   font-weight: bolder;
   margin-bottom: 1rem;
   line-height: normal;
   letter-spacing: normal;
}
.carousel_content h1 span{
  color: var(--secondarycolor--);
}
.carousel_content p{
   font-size: large;
   line-height: 2rem;
   font-weight: lighter;
}
.carousel_content button{
   padding: 13px 3.3rem;
   background-color:var(--lettercolor--);
   color: var(--secondarycolor--);
   border-radius: 5px;
   border: 2px solid var(--secondarycolor--);
   font-size: 20px;
   margin-top: 2rem;
}
.carousel_content button:hover{
   background-color: var(--secondarycolor--);
   color: var(--lettercolor--);
   transition: all .2s ease;
}
.my_carousel .active_btn{
  position: absolute;
  top: 0px !important;
}

.title {
   font-size: 3.5rem;
   color: var(--secondarycolor--);
   padding-bottom: 1.5rem;
   font-weight: bold;
   line-height: normal;
   text-align: center;
}
/* our services section  */
.services_section{
  margin-top: 6rem;
}
.service_head h1{
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
}

.services_section .cover {
  position: relative;
  margin-top: 4rem;
  padding: 0 30px;
}

.services_section .left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.services_section .right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.services_section .scroll-images {
  position: relative;
  width: 100%;
  padding: 40px 0px;
  height: auto;
  display: flex;
  gap: 2vw;
  flex-wrap: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.services_section .child {
  min-width: 300px;
  height: fit-content;
  margin: 1px 10px;
  -webkit-box-shadow: 0px 0px 15px 2px rgb(0 0 0 / 10%);
  box-shadow: 0px 0px 10px 0 rgb(0 0 0 / .3);
  border-radius: 10px;
  overflow: hidden;
  padding-bottom: 10px;
  width: 300px;
  height: 350px;
}
.services_section .child .card_btn{
  display: flex;
  gap: 6px;
  float: right;
  margin-right: 10px;
}
.services_section .child .card_btn button{
  border-radius: 5px;
  background-color: var(--secondarycolor--);
  color: var(--lettercolor--);
  padding: 8px 10px;
  font-size: small;
  text-transform: capitalize;
}
.services_section .card_btn button:hover{
  opacity: .9;
}
.services_section .child .card_img img{
  border-radius: 10px;
}
.services_section .child .card_text{
  text-align: center;
  padding: 10px;
  margin-top: 1rem;
}
.scroll-images::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #aaa;
}

.scroll-images::-webkit-scrollbar-thumb {
  background-color: black;
}

.services_section .services_menu button{
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 25px;
}











/* Join us menu  */

.joinus_menu{
  text-align: center;
  margin: 5rem 0;
  padding: 2rem 0;
  border-top: 1px solid rgba(128, 128, 128, 0.2);
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
  background-color: #fafafa;
}
.joinus_menu h1{
  font-size: 3.5rem;
  color: var(--secondarycolor--);
  padding-bottom: 1.5rem;
  font-weight: bold;
  line-height: normal;
}
.joinus_menu p{
  font-size: x-large;
  font-weight: lighter;
  color: var(--contentBG--);
}

















/* Our Team Section  */
.team_section{
  background-color: #fafafa;
  padding: 4rem 0;
  margin: 7rem 0;
  border-top: 1px solid rgba(128, 128, 128, 0.1);
  border-bottom: 1px solid rgba(128, 128, 128, 0.1);
}
.team_head h1{
  text-align: center;
  margin-bottom: 4rem;
  font-size: 3rem;
  font-weight: bold;
}
.team_profiles{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1vw;
}
.team_profiles .team_card{
  position: relative;
  width: 350px;
  height: fit-content;
  text-align: center;
  background-color: var(--lettercolor--);
  padding-bottom: 12px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  margin-bottom: 3rem;
}

.team_profiles .team_card .card_top_bg{
  background-color: var(--secondarycolor--);
  height: 100px;
  border-radius: 20px 20px 0 0;
}
.team_profiles .team_card .card_img img{
  border-radius: 50%;
  height: 120px;
  width: 120px;
  box-shadow: 0px 0px 0px 5px #4B869B;
}
.team_profiles .team_card .card_img{
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
}
.team_profiles .team_card .card_info{
  margin-top: 4rem;
}
.team_profiles .team_card .card_info h3{
  font-size: 2rem;
}
.team_profiles .team_card .card_icons{
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.team_card .card_icons a{
  color: var(--lettercolor--);
}
.team_card .card_icons i{
  padding: 12px 13px;
  border-radius: 50px;
}
.team_card .card_icons .fa-facebook{
  padding: 12px 15px;
  background-color: royalblue;
}
.team_card .card_icons .fa-twitter{
  background-color: rgb(50, 175, 224);
}
.team_card .card_icons .fa-instagram{
  background-color: tomato;
}
.team_card .card_icons .fa-youtube{
  padding: 12px 12px;
  background-color: red;
}
.team_card .card_btn button{
  border-radius: 25px;
  border: none;
  color: var(--lettercolor--);
  background-color: var(--secondarycolor--);
  padding: 10px 1rem;
  float: right;
  font-size: small;
  margin-right: 8px;
}
.team_card .card_btn button:hover{
  opacity: .9;
} 

/* team cards slider  */
/* .cover {
  position: relative;
  padding: 0px 30px;
  margin-top: 100px;
}

.cover .left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.cover .right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
} */



/* . img, .child > svg {
  position: absolute;
  margin-top: -195px;
  width: 80px;
  height: 80px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  background: #03A9F4;
} */
/* 
.scroll-images::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #aaa;
}

.scroll-images::-webkit-scrollbar-thumb {
  background-color: black;
}

.cover button{
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 25px;
} */




/* Media Queries  */

@media (max-width: 1166px) {
   .my_carousel .carousel{
       width: 650px;
    }
    .carousel_content p{
       font-size: medium;
    }
    .carousel_menu{
     padding: 1rem 0;
    }
    .carousel_content h1{
     font-size: 3rem;
    }

    .my_carousel .carousel-control-prev{
       left: 10px;
    }
    .my_carousel .carousel-control-next{
       right: 83%;
    }
}




@media (max-width: 1034px){
  .carousel_content h1{
     font-size: 2.5rem;
  }
  .my_carousel .carousel{
     width: 600px;
  }
  .my_carousel .carousel-control-prev{
     top: 86%;
     left: 5px;
  }
  .my_carousel .carousel-control-next{
     top: 86%;
     right: 82%;
  }
}




@media (max-width: 984px){
   .carousel_menu{
       flex-wrap: wrap-reverse;
       justify-content: center;
   }
   .carousel_content h1{
     font-size: 3rem;
  }
  .carousel_content{
     width: 100%;
  }
}




@media (max-width: 610px){
  .my_carousel .carousel{
     width: 500px;
  }
  .carousel_menu{
     padding: 1rem 1vw;
  }

  .my_carousel .carousel-control-prev{
     top: 84%;
     left: 5px;
  }
  .my_carousel .carousel-control-next{
     top: 84%;
     right: 78%;
  }
}




@media (max-width: 510px){
  .my_carousel .carousel{
     width: 400px;
  }
  .my_carousel .carousel-control-prev{
     top: 83%;
     left: 5px;
     width: 40px;
     height: 40px;
  }
  .my_carousel .carousel-control-next{
     top: 83%;
     right: 78%;
     width: 40px;
     height: 40px;
  }
}




@media (max-width: 410px){

  .carousel_content h1,
  .joinus_menu h1{
     font-size: 2rem;
  }
  .carousel_content button{
     padding: 12px 2.5rem;
  }
  .my_carousel .carousel{
     width: 310px;
  }

  .my_carousel .carousel-control-prev{
     top: 80%;
     left: 5px;
     width: 40px;
     height: 40px;
  }
  .my_carousel .carousel-control-next{
     top: 80%;
     right: 72%;
     width: 40px;
     height: 40px;
  }
  .joinus_menu p{
     font-size: medium;
     line-height: normal;
  }
}