*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style-type: none;
    font-family: sans-serif;
    letter-spacing: .35px;
}

:root{
    --textcolor--: royalblue !important;
    --secondarycolor--: rgba(56, 121, 145, 0.9);
    --lettercolor--: #fff;
    --contentBG--: #FAFAFA !important;
}
body{
    background-color: rgba(0, 0, 0, 0.1);
    
    
}
section{
    padding: 0 1vw;
}
.team_card-info{
    display: flex;
    align-items: start;
    padding: 60px;
    gap: 60px;
    margin: 2rem 2.5vw;
    background-color: var(--lettercolor--);
    flex-wrap: wrap;
    min-height: 600px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}
.team_card-info .card_img{
    max-width: 50%;
    height: 75%;
}
.team_card-info .card_img{
    overflow: hidden;
    border-radius: 10px;
}
.team_card-info .card_img img{
    max-height: 400px;
    width: 400px;
}
.team_card-info .card_content{
    width: 100%;
}
.team_card-info .card_content .title h2{
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--secondarycolor--);
}
.team_card-info.card_content h5{
    font-weight: bold;
    width: 100%;
}
.team_card-info .card_content .detail,
.team_card-info .card_content .benefits{
    margin-bottom: 1rem;
}
.team_card-info .card_content .card_btn{
    margin-top: 1.4rem;
}
.team_card-info .card_content .card_btn a{
    border-radius: 3px;
    color: var(--lettercolor--);
    background-color: var(--secondarycolor--);
    padding: 10px 1rem;
}
.team_card-info .card_content .card_btn a:hover,
.card_content .links a:hover{
    opacity: .9;
}
.team_card-info .card_content .links{
    display: flex;
    align-items: center;
    gap: 10px;

}
.team_card-info .card_content .links a{
    padding: 10px 12px;
    color: var(--lettercolor--);
    border-radius: 5px;
}
.card_content .links a:nth-child(1){
    background-color: royalblue;
    padding: 10px 13px;
}
.card_content .links a:nth-child(2){
    background-color: skyblue;
}
.card_content .links a:nth-child(3){
    background-color: royalblue;
}
.card_content .links a:nth-child(4){
    background-color: tomato;
}
.card_content .links a:nth-child(5){
    background-color: black;
}






@media (max-width: 1005px) {
    .team_card-info{
        width: 900px;
    }
    .team_card-info .card_img{
        max-width: 50%;
        height: 70%;
    }
}

@media (max-width: 905px) {
    .team_card-info{
        width: 800px;
    }
    .team_card-info .card_img{
        max-width: 50%;
        height: 65%;
    }
}

@media (max-width: 810px) {
    .team_card-info{
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        max-width: 100%;
        height: 100%;
    }
    .team_card-info .card_img{
        max-width: 100%;
        height: 100%;
    }
    .team_card-info .card_content{
        width: 100%;
    }
}

@media (max-width: 632px){
  
}